.menu{
    position: absolute;
    width:65%;
    height:60%;
    background:white;
    border-radius:20px;
    margin-top:60vh;
    display:flex;
    flex-direction:column;
    padding: 20px;
}

.menu > div{
    flex:1;
}

.food1, .food2, .food3, .food4 {
    display:flex;
    justify-content:space-between;
} 

.numberInput{
    margin-top:10px;
    margin-left:15px;
    width:20%;
    height:3vh;
    font-size:1rem;
    outline-color: #92a8d1;
    padding-left:4px;
    border-radius:5px;
    border-width:thin;
}

.numberInput:focus{
    border-width:thin;
}

.toLeft > p{
    margin-top:10px;
    font-weight: 500;
}

.price{
    font-size:1.5rem;
    color: #b96d20;
    font-weight:bold;
}

.addBtn{
    width:120px;
    color:white;
    font-size:1.2rem;
    height:40px;
    border-radius:20px;
    border:none;
    margin-top:10px;
    background: rgb(139, 64, 0);
    opacity: 0.9;
    cursor: pointer;
}

.addBtn:hover{
    opacity: 1;
}

hr{
    margin-bottom:20px;
    opacity:0.5;
}